*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child, .cell:nth-child(8), .cell:nth-child(7) {
  border-bottom: none;
}

.cell.x, .cell.o {
  cursor: not-allowed;
}

.cell.x::before, .board.x .cell:not(.x):not(.o):hover::before, .cell.x::after, .board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
}

.cell.x::before, .board.x .cell:not(.x):not(.o):hover::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cell.x::after, .board.x .cell:not(.x):not(.o):hover::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cell.o::before, .board.o .cell:not(.x):not(.o):hover::before, .cell.o::after, .board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before, .board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.cell.o::after, .board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.board {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.o):hover::before {
  background-color: lightgrey;
}

.board.x .cell:not(.x):not(.o):hover::after {
  background-color: lightgrey;
}

.board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgrey;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 5rem;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border-color: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  border-color: white;
  color: white;
}

.winning-message.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */